.conteudo {
  border: gray 5px solid;
  padding: 20px;
  height: calc(100vh - 80px);
}
.navegacao {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 25px;
  border: red 5px solid;
  padding: 20px;
}

.navegacao__item {
  font-family: verdana, arial, helvetica, sans-serif;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #98ff45;
  text-decoration: none;
}

.produto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 25px;
  border: red 5px solid;
  padding: 20px;
  margin-top: 20px;
}

.produto__item {
  font-family: verdana, arial, helvetica, sans-serif;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  padding: 6px;
  background-color: #98ff45;
  text-decoration: none;
  width: 25%;
  height: 150px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
